{% extends 'app_final/index.html' %}

{% block barra %}
<a class="navbar-brand" href="{% url 'home' %}">Home</a>
{% endblock barra %}

{% block cabecera %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Deslogueo OK.</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <h3 class="text-white font-weight-bold">Para ingresar nuevamente, click en LOGIN.</h3>
            </div> 
        </div>
    </div>
</header>
{% endblock cabecera %}


